<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style type="text/css">
        /* CLIENT-SPECIFIC STYLES */
        .Body {
            margin: 0 auto;
            padding: 0;
            color: black;
            font-family: sans-serif;
            background-image: url(~/img/bg.png);
            background-size: cover;
            /*background-image-resize: 3;*/
            position: relative;
        }

        .jmeno {
            position: absolute;
            font-weight: bold;
            font-size: 36px;
            left: 420px;
            top: 460px;
            text-align: center;
            color: #3a3a3d;
            width: 550px;
        }

        .kdy {
            position: absolute;
            font-size: 18px;
            left: 420px;
            top: 520px;
            width: 550px;
            text-align: center;
            color: #88898b;
        }

        .kde {
            position: absolute;
            font-size: 18px;
            left: 420px;
            top: 640px;
            width: 250px;
            text-align: left;
            color: #121212;
        }

        .garant {
            position: absolute;
            font-size: 18px;
            right: 120px;
            top: 640px;
            width: 250px;
            text-align: right;
            color: #121212;
        }

        .garant span {
            color: #96989b;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
