@using SobotySTechnikou.Prints.ViewModels
@model EmailBodyVM

<p>Vážený uchazeči, Vážená uchazečko,</p>
<br />
<p>rádi bychom tě pozvali k používání naší aplikace pro přihlašování na Soboty s technikou.</p>
<p>Abys mohl/a využít aplikace naplno potvrď prosím funkčnost své e-mailové adresy kliknutím <a href="@HtmlEncoder.Encode(Model.CallBackURL)">zde</a></p>
<br />
<p>Rádi tě uvidíme na nějaké akci</p>
<p>Tým SPŠSE</p>
